.headerWrapper {
  padding: 20px 0 20px;
  background: rgb(60, 57, 232);
}

.headerWrapper header {
  height: 25px;
  width: 190px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.headerWrapper a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  box-sizing: border-box;
}

.headerWrapper a:hover {
  color: rgb(235, 143, 255);
  border-bottom: 2px solid rgb(235, 143, 255);
}
